<!--
<form action="<%= users_path %>", method="post", accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="username">Username: </label>
  <input id="username", name="user[username]", type="text">
  <label for="email">Email: </label>
  <input id="email", name="user[email]", type="email">
  <label for="password">Password: </label>
  <input id="password", name="user[password]", type="password">
  <input type="submit", value="Submit">
</form>
-->

<!--
<%= form_tag(users_path) do %>
  <%= label_tag 'user[username]', 'Username: '%>
  <%= text_field_tag 'user[username]' %>
  <%= label_tag 'user[email]', 'Email: '%>
  <%= text_field_tag 'user[email]' %>
  <%= label_tag 'user[password]', 'Password: '%>
  <%= password_field_tag 'user[password]' %>
  <%= submit_tag %>
<% end %>
-->
<ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>

<%= form_with model: @user do |form| %>
  <%= form.label :username, 'Your user name here' %>
  <%= form.text_field :username, value: 'Alex' %>
  <%= form.label :email %>
  <%= form.email_field :email, placeholder: 'example@ex.com' %>
  <%= form.label :password %>
  <%= form.password_field :password, value: @user.password %>
  <%= form.submit %>
<% end %>

<style>
  .field_with_errors {
    display: inline-block;
  }

  .field_with_errors input {
    border: 2px solid red;
  }
</style>