<h1>User: <%= @user.username %></h1>
<p>Email: <%= @user.email %></p>
<p>Password: <%= @user.password %></p>
<a href="<%= edit_user_path(@user.id) %>">Edit</a><br>
<a href="<%= users_path %>">All users</a><br>
<%= button_to "Delete", user_path(@user.id), data: {:confirm => 'Are you sure?'}, :method => :delete %>
